*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:'Comic Sans MS', sans-serif;
}

body{
    background-color:black;
    color: #fff;
    position: relative;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px ;
}

header .logo{
   font-size: 25px;
   font-weight: bold;
   color: yellowgreen;
   margin-left: 20px;
}

header .navbar ul{
    display: flex;
    align-items: center;
    gap: 22px;
}

header .navbar ul li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

header .navbar ul li a:hover{
    text-decoration: underline;
}

header .button{
    margin-right: 20px;
    transition: .3s;
}

header .button:hover{
    scale: 1.1;
    border-radius: 30px;
}

header .button .btn{
    width: 122px;
    padding: 7px;
    background-color:yellowgreen;
    color: #000;
    border: none;
    outline: none;
    box-shadow: 0 0 10px blue;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

/* -----Hero Style Start----- */

.hero{
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 80px;
    width: 100%;
    height: 75vh;
}

.hero .hero-content h4{
    color: gray;
    font-size: 16px;
    font-weight: bold;
}

.hero .hero-content h1{
    font-size: 36px;
    font-weight: bold;
}
.hero .hero-content h2{
    font-size: 46px;
    font-weight: bold;
    color: yellow;
}

.hero .hero-content .social-media{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hero .hero-content .social-media li{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color:transparent;
    border: 1px solid white;
    outline: none;
    /* box-shadow: 0 0 12px white; */
    display: flex;
    align-items:center;
    justify-content: center;
    color: #fff;
    font-size: 25px;
    transition: .4s;
}

.hero .hero-content .social-media li:hover{
    scale: 1.1;
    box-shadow: 0 0 10px white;
    border: none;
    outline: none;
}

.hero .hero-content .social-media li a{
    color: #fff;
}

.hero .hero-content .buttton{
    margin-top:30px;
    display:flex;
    align-items: center;
    gap: 20px;
}

.hero .hero-content .buttton .h-btn{
    width: 150px;
    padding: 10px;
    background-color:yellow;
    color: #000;
    font-size: 19px;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius:5px;
    cursor: pointer;
}

#btn{
    border: 2px solid white;
    background-color: transparent;
    color: #fff;
}


.hero .image{
    width: 330px;
    height: 330px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid white;
    margin-right: 30px;
}

.hero .image img{
    width: 328px;
    height: 328px;
    border-radius: 50%;
    box-shadow:  0 0  10px white;
}

